@import url("../font-awesome-4.7.0/css/font-awesome.min.css");
.top-breadcrumb {
  margin: 10px 0 30px 0;
}
.pagination-wrapper {
  margin-top: 20px;
}
.top-search-wrapper {
  display: flex;
  justify-content: space-between;
}
